.root {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.root > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  min-height: 0;
  margin-top: calc(0px - 64px);
  height: calc(100% + 64px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 64px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root {
    width: 100%;
    height: 100%;
    min-width: 0;
    min-height: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .root > :global(.__wab_flex-container) {
    min-width: 0;
    min-height: 0;
  }
}
.header:global(.__wab_instance) {
  position: relative;
}
.topSection:global(.__wab_instance) {
  position: relative;
}
.freeBox__ncapy {
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: var(--token-O4aWuFWYofucW3);
  display: flex;
  position: relative;
  min-width: 0;
}
.freeBox__ncapy > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox__ncapy > :global(.__wab_flex-container) > *,
.freeBox__ncapy > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__ncapy > :global(.__wab_flex-container) > picture > img,
.freeBox__ncapy
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__ncapy {
    width: 100%;
    height: auto;
    max-width: var(--token-O4aWuFWYofucW3);
    display: flex;
    position: relative;
    flex-direction: column;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__ncapy > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-width: 0;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 32px);
    height: calc(100% + 32px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__ncapy > :global(.__wab_flex-container) > *,
  .freeBox__ncapy > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__ncapy > :global(.__wab_flex-container) > picture > img,
  .freeBox__ncapy
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 32px;
  }
}
.freeBox__bNa4H {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  max-width: 1000px;
  min-width: 0;
}
.freeBox__bNa4H > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox__bNa4H > :global(.__wab_flex-container) > *,
.freeBox__bNa4H > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__bNa4H > :global(.__wab_flex-container) > picture > img,
.freeBox__bNa4H
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__bNa4H {
    display: flex;
    position: relative;
    flex-direction: column;
    width: 100%;
    max-width: 1000px;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__bNa4H > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    min-width: 0;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 32px);
    height: calc(100% + 32px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__bNa4H > :global(.__wab_flex-container) > *,
  .freeBox__bNa4H > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__bNa4H > :global(.__wab_flex-container) > picture > img,
  .freeBox__bNa4H
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 32px;
  }
}
.freeBox__f9XRq {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.text__uve9Z {
  font-size: 96px;
  font-weight: 700;
  text-align: center;
  line-height: 1;
  color: var(--token-NEon4Y--Z);
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__uve9Z {
    font-size: 48px;
    font-weight: 700;
    text-align: center;
    line-height: 1;
    color: var(--token-NEon4Y--Z);
  }
}
.text__uUzLf {
  font-size: 96px;
  font-weight: 700;
  text-align: center;
  line-height: 1;
  color: rgba(51, 140, 245, 0);
  background: linear-gradient(
      90deg,
      rgb(51, 140, 245) 0%,
      rgb(79, 209, 197) 100%
    )
    0% 0% / 100% 100% padding-box /* clip: text **/;
  background-clip: text;
  -webkit-background-clip: text;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__uUzLf {
    font-size: 48px;
    font-weight: 700;
    text-align: center;
    line-height: 1;
    color: rgba(51, 140, 245, 0);
    background: linear-gradient(
        90deg,
        rgb(51, 140, 245) 0%,
        rgb(79, 209, 197) 100%
      )
      0% 0% / 100% 100% padding-box /* clip: text **/;
    background-clip: text;
    -webkit-background-clip: text;
  }
}
.text__aUvGx {
  font-size: 20px;
  text-align: center;
  max-width: 768px;
  position: relative;
  align-self: center;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__aUvGx {
    font-size: 24px;
    text-align: center;
    max-width: 768px;
    position: relative;
    align-self: center;
  }
}
.button__kfCrI:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__wteCq {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__g7QM1 {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.textInput:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__w3E90 {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg___9O5T {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.freeBox__ijUm {
  flex-direction: row;
  display: flex;
  position: relative;
}
.freeBox__ijUm > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  margin-left: calc(0px - 12px);
  width: calc(100% + 12px);
}
.freeBox__ijUm > :global(.__wab_flex-container) > *,
.freeBox__ijUm > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__ijUm > :global(.__wab_flex-container) > picture > img,
.freeBox__ijUm
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 12px;
}
.button__qha8G:global(.__wab_instance) {
  position: relative;
}
.svg__eyrpo {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__k4HEs {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.button___4Uqv:global(.__wab_instance) {
  position: relative;
}
.svg__oNke9 {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__qTkrj {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.freeBox__iViI {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  max-width: 1000px;
  min-width: 0;
}
.img__czUxq {
  position: relative;
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.img__czUxq > picture > img {
  object-fit: cover;
}
.img__czUxq > .__wab_img-spacer > img {
  object-fit: cover;
}
.solutions:global(.__wab_instance) {
  position: relative;
}
.columns {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  min-width: 0;
}
.columns > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.columns > :global(.__wab_flex-container) > :nth-child(2n + 1) {
  width: calc((100% - 2 * 32px) * 6 / 12);
}
.columns > :global(.__wab_flex-container) > :nth-child(2n + 2) {
  width: calc((100% - 2 * 32px) * 6 / 12);
}
.columns > :global(.__wab_flex-container) > *,
.columns > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns > :global(.__wab_flex-container) > picture > img,
.columns
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :global(.__wab_flex-container) {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    min-width: 0;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 24px);
    height: calc(100% + 24px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :global(.__wab_flex-container) > *,
  .columns > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns > :global(.__wab_flex-container) > picture > img,
  .columns
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 24px;
  }
}
.column__knlOs {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 50%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__knlOs {
    width: 100%;
  }
}
.freeBox__biFuH {
  flex-direction: column;
  display: flex;
  position: relative;
}
.freeBox__biFuH > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.freeBox__biFuH > :global(.__wab_flex-container) > *,
.freeBox__biFuH > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__biFuH > :global(.__wab_flex-container) > picture > img,
.freeBox__biFuH
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__biFuH {
    width: 100%;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__biFuH > :global(.__wab_flex-container) {
    min-width: 0;
  }
}
.text__qYEr {
  font-size: 32px;
  font-weight: 700;
  color: var(--token-NEon4Y--Z);
  position: relative;
}
.text__sw552 {
  position: relative;
  color: var(--token-jBhCqxBbh1U);
}
.featureCard__xzYcf:global(.__wab_instance) {
  position: relative;
}
.svg__xVdVg {
  position: relative;
  object-fit: cover;
  width: 48px;
  height: 48px;
}
.svg__vY30H {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
.featureCard__pYXlK:global(.__wab_instance) {
  position: relative;
}
.svg__gPlPe {
  position: relative;
  object-fit: cover;
  width: 48px;
  height: 48px;
}
.svg__fsBBu {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
.featureCard__sona8:global(.__wab_instance) {
  position: relative;
}
.svg__gjtLh {
  position: relative;
  object-fit: cover;
  width: 48px;
  height: 48px;
}
.svg__no5Cu {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
.column__yluNi {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 50%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__yluNi {
    width: 100%;
  }
}
.img__uFXte {
  position: relative;
  object-fit: cover;
  width: 100%;
  min-width: 0;
}
.img__uFXte > picture > img {
  object-fit: cover;
}
.img__uFXte > .__wab_img-spacer > img {
  object-fit: cover;
}
.howItWorks:global(.__wab_instance) {
  position: relative;
}
.freeBox__nAGk {
  flex-direction: row;
  display: flex;
  width: 100%;
  min-width: 0;
}
.freeBox__nAGk > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 20px);
  width: calc(100% + 20px);
  margin-top: calc(0px - 20px);
  height: calc(100% + 20px);
}
.freeBox__nAGk > :global(.__wab_flex-container) > *,
.freeBox__nAGk > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__nAGk > :global(.__wab_flex-container) > picture > img,
.freeBox__nAGk
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 20px;
  margin-top: 20px;
}
.featureCard__vwQ:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__liMb9 {
  position: relative;
  object-fit: cover;
  width: 32px;
  height: 32px;
  color: var(--token-Br0SolQN9Ss5Ig);
}
.svg__jp8Gy {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
.featureCard__d4H:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__eDqHd {
  position: relative;
  object-fit: cover;
  width: 32px;
  height: 32px;
  color: var(--token-Br0SolQN9Ss5Ig);
}
.svg__eDtav {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
.featureCard__l7Qq:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__ye5Vy {
  position: relative;
  object-fit: cover;
  width: 32px;
  height: 32px;
  color: var(--token-Br0SolQN9Ss5Ig);
}
.svg__yMaAd {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
.featureCard__qjf7A:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__sc6Sg {
  position: relative;
  object-fit: cover;
  width: 32px;
  height: 32px;
  color: var(--token-Br0SolQN9Ss5Ig);
}
.svg__oqNhL {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
.featureCard___2XTyF:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__q8QaW {
  position: relative;
  object-fit: cover;
  width: 32px;
  height: 32px;
  color: var(--token-Br0SolQN9Ss5Ig);
}
.svg__b9NoI {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
.featureCard__lor5:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg___16Wo0 {
  position: relative;
  object-fit: cover;
  width: 32px;
  height: 32px;
  color: var(--token-Br0SolQN9Ss5Ig);
}
.svg___6H7Zy {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
.freeBox__c3TgN {
  display: block;
  position: absolute;
  left: 50%;
  top: auto;
  width: 2px;
  height: 77px;
  bottom: -88px;
  border: 1px solid var(--token-uIksKjoFFNzfmU);
}
.validation:global(.__wab_instance) {
  position: relative;
}
.freeBox__nUhg8 {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__nUhg8 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 64px);
  height: calc(100% + 64px);
}
.freeBox__nUhg8 > :global(.__wab_flex-container) > *,
.freeBox__nUhg8 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__nUhg8 > :global(.__wab_flex-container) > picture > img,
.freeBox__nUhg8
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 64px;
}
.freeBox__luZ6W {
  flex-direction: row;
  display: flex;
}
.freeBox__luZ6W > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-left: calc(0px - 48px);
  width: calc(100% + 48px);
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.freeBox__luZ6W > :global(.__wab_flex-container) > *,
.freeBox__luZ6W > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__luZ6W > :global(.__wab_flex-container) > picture > img,
.freeBox__luZ6W
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 48px;
  margin-top: 24px;
}
.svg__syDab {
  position: relative;
  object-fit: cover;
  width: 124px;
  height: 24px;
  color: var(--token-jBhCqxBbh1U);
  flex-shrink: 0;
}
.svg__wb9Jg {
  position: relative;
  object-fit: cover;
  width: 83px;
  height: 30px;
  color: var(--token-jBhCqxBbh1U);
  flex-shrink: 0;
}
.svg___36IV {
  position: relative;
  object-fit: cover;
  width: 125px;
  height: 39px;
  color: var(--token-jBhCqxBbh1U);
  flex-shrink: 0;
}
.svg__aaS0N {
  position: relative;
  object-fit: cover;
  width: 113px;
  height: 30px;
  color: var(--token-jBhCqxBbh1U);
  flex-shrink: 0;
}
.svg__hmiQc {
  position: relative;
  object-fit: cover;
  width: 109px;
  height: 33px;
  color: var(--token-jBhCqxBbh1U);
  flex-shrink: 0;
}
.testimonial:global(.__wab_instance) {
  position: relative;
}
.homeCta:global(.__wab_instance) {
  position: relative;
}
.footer:global(.__wab_instance) {
  position: relative;
}
