.root {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root {
    width: 100%;
    height: 100%;
    min-width: 0;
    min-height: 0;
  }
}
.header:global(.__wab_instance) {
  position: relative;
}
.section:global(.__wab_instance) {
  position: relative;
}
.freeBox__gO0Tl {
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: var(--token-O4aWuFWYofucW3);
  display: flex;
  min-width: 0;
}
.freeBox__gO0Tl > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 64px);
  height: calc(100% + 64px);
}
.freeBox__gO0Tl > :global(.__wab_flex-container) > *,
.freeBox__gO0Tl > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__gO0Tl > :global(.__wab_flex-container) > picture > img,
.freeBox__gO0Tl
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 64px;
}
.columns__ypBs {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  min-width: 0;
}
.columns__ypBs > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.columns__ypBs > :global(.__wab_flex-container) > :nth-child(2n + 1) {
  width: calc((100% - 2 * 32px) * 6 / 12);
}
.columns__ypBs > :global(.__wab_flex-container) > :nth-child(2n + 2) {
  width: calc((100% - 2 * 32px) * 6 / 12);
}
.columns__ypBs > :global(.__wab_flex-container) > *,
.columns__ypBs > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns__ypBs > :global(.__wab_flex-container) > picture > img,
.columns__ypBs
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__ypBs {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    flex-shrink: 1;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__ypBs > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap-reverse;
    min-width: 0;
    margin-top: calc(0px - 16px);
    height: calc(100% + 16px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__ypBs > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * 32px) * 12 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__ypBs > :global(.__wab_flex-container) > *,
  .columns__ypBs > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns__ypBs > :global(.__wab_flex-container) > picture > img,
  .columns__ypBs
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 16px;
  }
}
.column__utQbm {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 50%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__utQbm {
    width: 100%;
  }
}
.freeBox__iiwV {
  flex-direction: column;
  display: flex;
  position: relative;
}
.freeBox__iiwV > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 12px);
  height: calc(100% + 12px);
}
.freeBox__iiwV > :global(.__wab_flex-container) > *,
.freeBox__iiwV > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__iiwV > :global(.__wab_flex-container) > picture > img,
.freeBox__iiwV
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 12px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__iiwV {
    width: 100%;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__iiwV > :global(.__wab_flex-container) {
    min-width: 0;
  }
}
.text__tOJzI {
  font-size: 32px;
  font-weight: 700;
  color: var(--token-NEon4Y--Z);
  position: relative;
  text-align: left;
}
.text__zRP4 {
  position: relative;
  text-align: left;
}
.bullet___7Bk6X:global(.__wab_instance) {
  position: relative;
}
.bullet__dTmQe:global(.__wab_instance) {
  position: relative;
}
.bullet__t5KGv:global(.__wab_instance) {
  position: relative;
}
.text__nQVl {
  position: relative;
  text-align: left;
}
.freeBox__jVk8F {
  flex-direction: row;
  display: flex;
  position: relative;
  margin-top: calc(16px + 12px) !important;
}
.freeBox__jVk8F > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  margin-left: calc(0px - 20px);
  width: calc(100% + 20px);
}
.freeBox__jVk8F > :global(.__wab_flex-container) > *,
.freeBox__jVk8F > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__jVk8F > :global(.__wab_flex-container) > picture > img,
.freeBox__jVk8F
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 20px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__jVk8F {
    display: flex;
    flex-direction: column;
    margin-top: calc(16px + 12px) !important;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__jVk8F > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: center;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 8px);
    height: calc(100% + 8px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__jVk8F > :global(.__wab_flex-container) > *,
  .freeBox__jVk8F > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__jVk8F > :global(.__wab_flex-container) > picture > img,
  .freeBox__jVk8F
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 8px;
  }
}
.button__sw0Pk:global(.__wab_instance) {
  position: relative;
}
.svg__j9YgW {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__hArAx {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__lz13:global(.__wab_instance) {
  position: relative;
}
.svg__w3ZU8 {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__pdZnw {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.column___1WQvR {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 50%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column___1WQvR {
    width: 100%;
  }
}
.img__xuVoV {
  position: relative;
  object-fit: cover;
  width: 100%;
  min-width: 0;
}
.img__xuVoV > picture > img {
  object-fit: cover;
}
.img__xuVoV > .__wab_img-spacer > img {
  object-fit: cover;
}
.columns__dcCtr {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  min-width: 0;
}
.columns__dcCtr > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.columns__dcCtr > :global(.__wab_flex-container) > :nth-child(2n + 1) {
  width: calc((100% - 2 * 32px) * 6 / 12);
}
.columns__dcCtr > :global(.__wab_flex-container) > :nth-child(2n + 2) {
  width: calc((100% - 2 * 32px) * 6 / 12);
}
.columns__dcCtr > :global(.__wab_flex-container) > *,
.columns__dcCtr > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns__dcCtr > :global(.__wab_flex-container) > picture > img,
.columns__dcCtr
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__dcCtr {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__dcCtr > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    margin-top: calc(0px - 16px);
    height: calc(100% + 16px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__dcCtr > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * 32px) * 12 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__dcCtr > :global(.__wab_flex-container) > *,
  .columns__dcCtr > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns__dcCtr > :global(.__wab_flex-container) > picture > img,
  .columns__dcCtr
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 16px;
  }
}
.column__yWqec {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 50%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__yWqec {
    width: 100%;
  }
}
.img__up6A {
  position: relative;
  object-fit: cover;
  width: 100%;
  align-self: flex-start;
  min-width: 0;
}
.img__up6A > picture > img {
  object-fit: cover;
}
.img__up6A > .__wab_img-spacer > img {
  object-fit: cover;
}
.column__kclIx {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 50%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__kclIx {
    width: 100%;
  }
}
.freeBox__ec4Up {
  flex-direction: column;
  display: flex;
  position: relative;
}
.freeBox__ec4Up > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 12px);
  height: calc(100% + 12px);
}
.freeBox__ec4Up > :global(.__wab_flex-container) > *,
.freeBox__ec4Up > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__ec4Up > :global(.__wab_flex-container) > picture > img,
.freeBox__ec4Up
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 12px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__ec4Up {
    width: 100%;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__ec4Up > :global(.__wab_flex-container) {
    min-width: 0;
  }
}
.text__yxem1 {
  font-size: 32px;
  font-weight: 700;
  color: var(--token-NEon4Y--Z);
  position: relative;
  text-align: left;
}
.text__hjvVo {
  position: relative;
  text-align: left;
}
.bullet__naTwo:global(.__wab_instance) {
  position: relative;
}
.bullet___7Skkb:global(.__wab_instance) {
  position: relative;
}
.bullet__abnDg:global(.__wab_instance) {
  position: relative;
}
.text__jv9W {
  position: relative;
  text-align: left;
}
.freeBox__rOQgQ {
  flex-direction: row;
  display: flex;
  position: relative;
  margin-top: calc(16px + 12px) !important;
}
.freeBox__rOQgQ > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  margin-left: calc(0px - 20px);
  width: calc(100% + 20px);
}
.freeBox__rOQgQ > :global(.__wab_flex-container) > *,
.freeBox__rOQgQ > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__rOQgQ > :global(.__wab_flex-container) > picture > img,
.freeBox__rOQgQ
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 20px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__rOQgQ {
    display: flex;
    flex-direction: column;
    margin-top: calc(16px + 12px) !important;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__rOQgQ > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: center;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 8px);
    height: calc(100% + 8px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__rOQgQ > :global(.__wab_flex-container) > *,
  .freeBox__rOQgQ > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__rOQgQ > :global(.__wab_flex-container) > picture > img,
  .freeBox__rOQgQ
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 8px;
  }
}
.button__i3ItV:global(.__wab_instance) {
  position: relative;
}
.svg__ot0Ue {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__n30Wo {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__pty0A:global(.__wab_instance) {
  position: relative;
}
.svg__kGsC6 {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__rEo5L {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.homeCta:global(.__wab_instance) {
  position: relative;
}
.footer:global(.__wab_instance) {
  position: relative;
}
