.root {
  flex-direction: column;
  display: flex;
  width: 100%;
  height: auto;
  position: relative;
  min-width: 0;
  padding: 32px;
}
.root > :global(.__wab_flex-container) {
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 0px);
  width: calc(100% + 0px);
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-left: 0px;
  margin-top: 32px;
}
.freeBox___1ISyS {
  display: block;
  position: relative;
  width: 100%;
  height: 1px;
  min-width: 0;
  flex-shrink: 0;
  border: 1px solid var(--token-uIksKjoFFNzfmU);
}
.freeBox__rZri5 {
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: var(--token-O4aWuFWYofucW3);
  display: flex;
  position: relative;
  left: auto;
  top: auto;
  min-width: 0;
}
.freeBox__rZri5 > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  min-width: 0;
  margin-left: calc(0px - 20px);
  width: calc(100% + 20px);
}
.freeBox__rZri5 > :global(.__wab_flex-container) > *,
.freeBox__rZri5 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__rZri5 > :global(.__wab_flex-container) > picture > img,
.freeBox__rZri5
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 20px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__rZri5 {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__rZri5 > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 32px);
    height: calc(100% + 32px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__rZri5 > :global(.__wab_flex-container) > *,
  .freeBox__rZri5 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__rZri5 > :global(.__wab_flex-container) > picture > img,
  .freeBox__rZri5
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 32px;
  }
}
.freeBox__azxoJ {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 128px;
  flex-shrink: 0;
}
.freeBox__azxoJ > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__azxoJ > :global(.__wab_flex-container) > *,
.freeBox__azxoJ > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__azxoJ > :global(.__wab_flex-container) > picture > img,
.freeBox__azxoJ
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.iconLink__ps1Mp:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__okeX1 {
  position: relative;
  object-fit: cover;
  color: var(--token-vaTuh5tFL3B);
  width: 32px;
  height: 32px;
}
.freeBox__oKfIm {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.link__plQ1N {
  color: var(--token-uqtxFGA63cURPA);
  font-size: 14px;
}
.root .link__plQ1N:hover {
  text-decoration-line: underline;
  color: var(--token-NEon4Y--Z);
}
.text__jPPyS {
  position: relative;
  font-size: 14px;
  color: var(--token-uqtxFGA63cURPA);
}
.link__z1XH {
  position: relative;
  color: var(--token-uqtxFGA63cURPA);
  font-size: 14px;
}
.root .link__z1XH:hover {
  text-decoration-line: underline;
  color: var(--token-NEon4Y--Z);
}
.freeBox__m2Uy2 {
  flex-direction: row;
  display: flex;
  position: relative;
}
.freeBox__m2Uy2 > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-end;
  align-items: stretch;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.freeBox__m2Uy2 > :global(.__wab_flex-container) > *,
.freeBox__m2Uy2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__m2Uy2 > :global(.__wab_flex-container) > picture > img,
.freeBox__m2Uy2
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__m2Uy2 {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__m2Uy2 > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 32px);
    height: calc(100% + 32px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__m2Uy2 > :global(.__wab_flex-container) > *,
  .freeBox__m2Uy2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__m2Uy2 > :global(.__wab_flex-container) > picture > img,
  .freeBox__m2Uy2
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 32px;
  }
}
.freeBox__onFhX {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 150px;
  flex-shrink: 0;
}
.freeBox__onFhX > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__onFhX > :global(.__wab_flex-container) > *,
.freeBox__onFhX > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__onFhX > :global(.__wab_flex-container) > picture > img,
.freeBox__onFhX
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.text__ffKid {
  position: relative;
  font-weight: 500;
  font-size: 16px;
}
.link__o3HbD {
  font-size: 14px;
  position: relative;
  color: var(--token-uqtxFGA63cURPA);
}
.root .link__o3HbD:hover {
  color: var(--token-NEon4Y--Z);
}
.link__aJfgM {
  position: relative;
  color: var(--token-uqtxFGA63cURPA);
  font-size: 14px;
}
.root .link__aJfgM:hover {
  color: var(--token-NEon4Y--Z);
}
.link__xYvYg {
  position: relative;
  color: var(--token-uqtxFGA63cURPA);
  font-size: 14px;
}
.root .link__xYvYg:hover {
  color: var(--token-NEon4Y--Z);
}
.link__kSuQ {
  position: relative;
  color: var(--token-uqtxFGA63cURPA);
  font-size: 14px;
}
.root .link__kSuQ:hover {
  color: var(--token-NEon4Y--Z);
}
.link__avEpt {
  position: relative;
  color: var(--token-uqtxFGA63cURPA);
  font-size: 14px;
}
.root .link__avEpt:hover {
  color: var(--token-NEon4Y--Z);
}
.freeBox__sz1Go {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 150px;
  flex-shrink: 0;
}
.freeBox__sz1Go > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__sz1Go > :global(.__wab_flex-container) > *,
.freeBox__sz1Go > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__sz1Go > :global(.__wab_flex-container) > picture > img,
.freeBox__sz1Go
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.text___9QMi {
  position: relative;
  font-weight: 500;
  font-size: 16px;
}
.link__aQCzu {
  position: relative;
  color: var(--token-uqtxFGA63cURPA);
  font-size: 14px;
}
.root .link__aQCzu:hover {
  color: var(--token-NEon4Y--Z);
}
.link__mnpL8 {
  position: relative;
  color: var(--token-uqtxFGA63cURPA);
  font-size: 14px;
}
.root .link__mnpL8:hover {
  color: var(--token-NEon4Y--Z);
}
.link__nMuIx {
  position: relative;
  color: var(--token-uqtxFGA63cURPA);
  font-size: 14px;
}
.root .link__nMuIx:hover {
  color: var(--token-NEon4Y--Z);
}
.link__wb4Dn {
  position: relative;
  color: var(--token-uqtxFGA63cURPA);
  font-size: 14px;
}
.root .link__wb4Dn:hover {
  color: var(--token-NEon4Y--Z);
}
.link__jLhd2 {
  position: relative;
  color: var(--token-uqtxFGA63cURPA);
  font-size: 14px;
}
.root .link__jLhd2:hover {
  color: var(--token-NEon4Y--Z);
}
.freeBox__fb6Zd {
  flex-direction: column;
  display: flex;
  width: 150px;
  flex-shrink: 0;
}
.freeBox__fb6Zd > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__fb6Zd > :global(.__wab_flex-container) > *,
.freeBox__fb6Zd > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__fb6Zd > :global(.__wab_flex-container) > picture > img,
.freeBox__fb6Zd
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.text__cxRxg {
  position: relative;
  font-weight: 500;
  font-size: 16px;
}
.link__e3Rss {
  position: relative;
  color: var(--token-uqtxFGA63cURPA);
  font-size: 14px;
}
.root .link__e3Rss:hover {
  color: var(--token-NEon4Y--Z);
}
.link__xYWmr {
  position: relative;
  color: var(--token-uqtxFGA63cURPA);
  font-size: 14px;
}
.root .link__xYWmr:hover {
  color: var(--token-NEon4Y--Z);
}
.link__gTShG {
  position: relative;
  color: var(--token-uqtxFGA63cURPA);
  font-size: 14px;
}
.root .link__gTShG:hover {
  color: var(--token-NEon4Y--Z);
}
.link__hIwNh {
  position: relative;
  color: var(--token-uqtxFGA63cURPA);
  font-size: 14px;
}
.root .link__hIwNh:hover {
  color: var(--token-NEon4Y--Z);
}
.link__kzqs {
  position: relative;
  color: var(--token-uqtxFGA63cURPA);
  font-size: 14px;
}
.root .link__kzqs:hover {
  color: var(--token-NEon4Y--Z);
}
.freeBox__jctV3 {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 200px;
  flex-shrink: 0;
}
.freeBox__jctV3 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__jctV3 > :global(.__wab_flex-container) > *,
.freeBox__jctV3 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__jctV3 > :global(.__wab_flex-container) > picture > img,
.freeBox__jctV3
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.text__sBzAp {
  position: relative;
  font-weight: 500;
  font-size: 16px;
}
.text___6IZh1 {
  position: relative;
  font-size: 14px;
  color: var(--token-uqtxFGA63cURPA);
}
.textInput:global(.__wab_instance) {
  position: relative;
}
.svg___9CwdD {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button:global(.__wab_instance) {
  position: relative;
}
.svg__sejGm {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-p-fCTrfjtL4);
  width: 1em;
  height: 1em;
}
.svg__na6Jq {
  position: relative;
  object-fit: cover;
  width: 12px;
  height: 12px;
  color: var(--token-p-fCTrfjtL4);
}
.svg__xTon {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.freeBox__qrbf4 {
  display: block;
  position: relative;
  width: 100%;
  height: 1px;
  min-width: 0;
  flex-shrink: 0;
  border: 1px solid var(--token-uIksKjoFFNzfmU);
}
.freeBox___1Td7T {
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: var(--token-O4aWuFWYofucW3);
  display: flex;
  position: relative;
  left: auto;
  top: auto;
  min-width: 0;
}
.freeBox___1Td7T > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___1Td7T {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___1Td7T > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 8px);
    height: calc(100% + 8px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___1Td7T > :global(.__wab_flex-container) > *,
  .freeBox___1Td7T > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox___1Td7T > :global(.__wab_flex-container) > picture > img,
  .freeBox___1Td7T
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 8px;
  }
}
.freeBox__nBTwh {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.link__apWAl {
  position: relative;
  color: var(--token-uqtxFGA63cURPA);
  height: auto;
  font-size: 14px;
}
.root .link__apWAl:hover {
  text-decoration-line: underline;
}
.link___9U11M {
  position: relative;
  color: var(--token-uqtxFGA63cURPA);
  font-size: 14px;
}
.root .link___9U11M:hover {
  text-decoration-line: underline;
}
.text__e0MhQ {
  position: relative;
  height: auto;
  width: auto;
  font-size: 14px;
  color: var(--token-uqtxFGA63cURPA);
}
.freeBox__eorEw {
  flex-direction: row;
  display: flex;
  position: relative;
}
.freeBox__eorEw > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__eorEw > :global(.__wab_flex-container) > *,
.freeBox__eorEw > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__eorEw > :global(.__wab_flex-container) > picture > img,
.freeBox__eorEw
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.iconLink__d5Xyi:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__eyCbT {
  position: relative;
  object-fit: cover;
  color: var(--token-vaTuh5tFL3B);
  width: 32px;
  height: 32px;
}
.root .svg__eyCbT:hover {
  color: var(--token-dph1wZ7NjV9);
}
.iconLink__haLSd:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__jLNbI {
  position: relative;
  object-fit: cover;
  color: var(--token-vaTuh5tFL3B);
  width: 32px;
  height: 32px;
}
.root .svg__jLNbI:hover {
  color: var(--token-dph1wZ7NjV9);
}
.iconLink__lu170:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__piVod {
  position: relative;
  object-fit: cover;
  color: var(--token-vaTuh5tFL3B);
  width: 32px;
  height: 32px;
}
.root .svg__piVod:hover {
  color: var(--token-dph1wZ7NjV9);
}
